/*----CSS Reset----*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/*----Main Styling -----*/

body {
width: 80%;
max-width: 600px;
margin: auto;
background: #ffffff;
padding: 0 25px;
}


/*-----Typography----*/

h1, h2, h3
{
   font-weight: bold;
    color: goldenrod;
    text-align: center;
font-family: 'Libre Baskerville', serif;
   margin:auto;
    
}

.dropcap{
        color: goldenrod;
        float: left;
        font-size:3em;
        line-height: 1em;
        margin-right:0;
    
}

p, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.4em;
}

h1 { 
    font-size: 4.820em;
    padding: 0;
    text-align: center;
}

h2 { 
     font-size: 2.2em;
     margin: 1em 0 0em 0;
     font-style: oblique;
    text-align: left;
    padding:0;
  }

h3{ font-size:1.5em;
    text-transform: uppercase;
    padding: 10px;
    
}

hr{
   margin: 2em;
    height: 1px;
    background:goldenrod;
    border: 0 none;
    
}

blockquote {
    font-size: 1.2em;
    color:goldenrod;
    hanging-punctuation: first;
    text-indent: -0.42em;
    font-family: 'Libre Baskerville', serif;  
    margin: 0;
    font-weight:lighter;
    padding: 0;
}

blockquote cite{
   font-size: 0.8em;
    color: #2E86C1;
    }

intro {font-size: 1.1em;
    font-family: 'Libre Baskerville', serif; }


.leader {
    text-transform: uppercase;
    font-style: oblique;
    font-weight: bold;
}



h1, h2, nav, footer, p, cite {font-family: 'Libre Baskerville', serif; }


.Verision1 {
    padding-top:45px;
    font-family: 'Libre Baskerville', serif;
}

.Verision1 blockquote {
    line-height: 1.2;
}

.Verision2 { font-family: monospace;
    
}

.Verision2 cite {
    font-style:normal;
    text-transform: uppercase;
}

.Verision2 p+p {
    text-indent:1.3em;
}

.Verision3 { font: }

.Verision3 {font-family: sans-serif;
    
}


/*---STYLING LINKS -----*/

a{ 
    color:mediumaquamarine;
    text-decoration: none;
}


/*----Navigation-----*/
nav{
    position:fixed;
    top:0;
    left:0;
    margin:0;
    width:100%;
    background-color:#2E86C1;
    padding: 1em 0;
    font-size: 0.76em;

}

nav ul { 
        text-align: center;
        text-transform: uppercase;
}

nav ul li {
    display: inline;
    margin: 40px;
}

a:hover {
            border-bottom:none;
            color:gold;
            text-decoration: underline;
}

nav a {color: aqua;
}

/*----Styling Table -------*/
table {
    margin:auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2.2px;
    margin-bottom: 1.2em; 
    width:100%;
    
}

caption {
    margin: 1.8em 0;
    text-transform: uppercase;
}

th {color: aliceblue;
    text-transform: uppercase;
    font-style: italic;
    font-weight:bold;
    text-align: left;
    background:#2E86C1;
}

th, td {
        padding: 0.4em;
}

table, td {
           background: lightblue;
           border: 2px dotted black;
}

*------Images------*/

img{
    display:block;
    margin: 6em 0;
    padding:0;
    max-width: 100%;
}

/*--Footer--*/

 footer{
    float: inherit;
    bottom: auto;
    text-align: center;
    font-size: 0.8em;
    margin: 3em 1em ;
    font-weight: bold;
    line-height: normal;
}

nav a {color: royalblue;
    
}






