/*----CSS Reset----*/
* { 
    padding: 0 ;
    margin: 0;
    font-size: 7x;
    line-height: 3em;
}

/*----Main Styling -----*/

body {
    
width: 80%;
max-width: 1000px;
margin: auto;
background: #ffff;
    
}

/*-----Typography----*/

h1, h2
{
   font-weight: bold;
    color: #2E86C1;
    text-align: center;
}

p.blockquote {
    margin-bottom: 1.3em;
}

h1 { 
    font-size: 3.820em;
    margin-top: auto;
    margin-bottom: auto;
}

h2 { 
     font-size:2em;
     margin: 0;
  }

blockquote {
    font-size: 1.214em;
    color: grey;
    hanging-punctuation: first;
    text-indent:inherit;
    
}

blockquote cite{
   font-size: 1.2em;
    color:navajowhite;
}
 footer{
    float: inherit;
    bottom: auto;
    text-align: left;
    font-size: 0.8em;
}

header h1 {
    font-style: italic;
    
}

p{ font size: 1.5em;
}

/*---STYLING LINKS -----*/

a{ 
    color:mediumaquamarine;
    text-decoration: none;
}

a:hover{
    color: yellow;
    border-bottom: 2px dotted;
}

/*----Navigation-----*/
nav{
    position:fixed;
    top:0;
    left:0;
    margin:0;
    width:100%;
    background-color:#2E86C1;
    padding: 1em 0;
    font-size: 0.76em;

}

nav ul { 
        text-align: center;
        text-transform: uppercase;
}

nav ul li {
    display: inline;
    margin: 40px;
    background: white;
}

nav a:hover {
            border-bottom:none;
            color:darkgreen;
}
/*nav a:link { 
}              color:#fdddf;



