/*----CSS Reset----*/
* { 
    padding: 0 ;
    margin: 0 ;
    font-size: 7x;
    line-height: 1em;
}

/*----Main Styling -----*/

body {
    
width: 80%;
max-width: 1000px;
margin: auto;
background: #ffff;
    
}

/*-----Typography----*/

h1, h2, 
{
   font-weight: bold;
    color: #2E86C1;
    text-align: center;
}

p.blockquote {
    margin-bottom: 1.3em;
}

h1 { 
    font-size: 3.827em;
    margin-top: auto;
    margin-bottom: auto;
}

h2 { 
     font-size:2em;
     margin: 0;
  }

blockquote {
    font-size: 1.214em;
    color: grey;
    hanging-punctuation: first;
    text-indent;
    
}

blockquote cite{
   font-size: 1.2em;
    color:navajowhite;
}
 footer{
    position: fixed;
    float: inherit;
    bottom: auto;
    text-align: center;
     font-size: 0.8em;
     padding:0;
}

header h1 {
    font-style: italic;
}


