/*----CSS Reset----*/
* {
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1em;
}

/*----Main Styling -----*/

body {
width: 80%;
max-width: 600px;
margin: auto;
background:#ffd
    
}

/*-----Typography----*/

h1, h2, h3
{
   font-weight: bold;
    color: #2E86C1;
    text-align: center;
   font-family: 'Playfair Display', serif;
}

p, blockquote {
    margin-bottom: 1.5em;
    line-height: 1.4;
}

h1 { 
    font-size: 3.820em;
    margin-top: auto;
    margin-bottom: auto;
}

h2 { 
     font-size: 2em;
     margin: 2em 0 1em 0;
  }

hr{
    margin-top: 2.5em;
    margin-bottom:auto;
    height: 1px;
    background: #2E86C1;
    color:aqua;
    border: 0 none;
    
}



header h2{
    margin: auto auto;
    font-style:italic;
}

h3{
   font-size:1.2em;
    margin:auto;
}

blockquote {
    font-size: 1.114em;
    color: grey;
    hanging-punctuation: first;
    text-indent: -0.42em;
    font-family: 'Libre Baskerville', serif;  
}

blockquote cite{
   font-size: 0.9em;
    color: #2E86C1;
}

h1, h2, h3, nav, footer, p, cite {font-family: 'Playfair Display', serif;
}


header {margin-top: 6em;
        margin-bottom: 1em;
}

header h1 {
    font-style: italic;
}

.leader {
    text-transform: uppercase;
    font-style: oblique;
}

/*---STYLING LINKS -----*/

a{ 
    color:mediumaquamarine;
    text-decoration: none;
}


/*----Navigation-----*/
nav{
    position:fixed;
    top:0;
    left:0;
    margin:0;
    width:100%;
    background-color:#2E86C1;
    padding: 1em 0;
    font-size: 0.76em;

}

nav ul { 
        text-align: center;
        text-transform: uppercase;
}

nav ul li {
    display: inline;
    margin: 40px;
}

a:hover {
            border-bottom:none;
            color:gold;
            text-decoration: underline;
}

nav a {color: aqua;
}

/*----Styling Table -------*/
table {
    margin:auto;
    display: table;
    border-collapse: collapse;
    border-spacing: 2.2px;
    margin-bottom: 1.2em; 
    width:100%;
    
}

caption {
    margin-bottom: 1.8em 0;
    line-height: 1.4em;
    
}

th {color: aliceblue;
    font-style: italic;
    font-weight:bold;
    text-align: left;
    background:#2E86C1;
}

th, td {
        padding: 0.5em;
        text-align: center;
}

table, td {
           background: lightblue;
           border: 2px dotted black;
           text-align: center;
}

*------Images------*/

img{
    display:block;
    margin: 6em 0;
    padding:0;
    height: 40px;
    width:40px;
    text-align: center;
    border: 2px solid  black;
}

/*--Footer--*/

 footer{
    float: inherit;
    bottom: auto;
    text-align: center;
    font-size: 0.8em;
    margin: 3em 1em ;
}

footer a {
           font-weight: bold;
}






